<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, inital-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block head_title %}{% endblock %}</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/bulma.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <script src="{% static 'js/script.js' %}"></script>
</head>
<body>
    {# HEADER #}
    {% include "mainApp/includes/header.html" %}

    {# MAIN #}
    <main>
        {% block content %}
        {% endblock %}        
    </main>

    {# FOOTER #}
    {% include "mainApp/includes/footer.html" %}
</body>
<script src="{% static 'js/script.js' %}"></script>
</html>